@{
    ViewData["Title"] = "Settings";
}

<h1 class="display-4"><b>@Context.Request.Cookies["Name"]</b></h1>
<hr />
<div class="row">
    <div class="col-2">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Chat" asp-action="BuyMessages">Messages</a>
            <a class="list-group-item list-group-item-action" asp-area="" asp-controller="Account" asp-action="Items">My Items</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary" asp-area="" asp-controller="Account" asp-action="Settings">Settings</a>
            <a class="list-group-item list-group-item-action list-group-item-light"><s>My Sizes</s></a>
            <a class="list-group-item list-group-item-action list-group-item-light"><s>Transactions</s></a>
            <a class="list-group-item list-group-item-action list-group-item-danger" asp-area="" asp-controller="Account" asp-action="Login">Log Out</a>
        </div>
    </div>
    <div class="col-10">
        <div class="text-center">
            <h1 class="display-4">SETTINGS</h1>
        </div>
        <hr />
        Settings
    </div>
</div>

